{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
    {% block body %}
        <h3 class="emplacementHome">
            LES EQUIPES
        </h3>
        <div class="formulaire emplacementHome">
            <div class="formulaire_personne">
                <h5>
                    les équipes de l'Est
                </h5>
                {% if teamsEast %}
                {% for team in teamsEast %}
                    <div class="emplacementHome">
                        <a href="/teams/team/{{ team.id }}">
                            {{ team.surnom }} {{ team.name }}
                        </a>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="emplacementHome">
                        <div class="alert alert-warning">Aucune équipe de l'est trouvée.</div>
                    </div>
                {% endif %}
                </div>
            <div class="formulaire_personne">
                <h5>
                    les équipes de l'Ouest
                </h5>
                {% if teamsWest %}
                    {% for team in teamsWest %}
                        <div class="emplacementHome">
                            <a href="/teams/team/{{ team.id }}">
                                {{ team.surnom }} {{ team.name }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="emplacementHome">
                        <div class="alert alert-warning">Aucune équipe de l'ouest trouvée.</div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}