{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
    {% block body %}
        {% if team %}

            <div class=" offset-1 ecriture memeLigne">

                <h3 class="sousMenu text-uppercase">
                    <b>{{ team.surnom }} {{ team.name }} </b>
                </h3>
                <div class="offset-1 affichageTeam_globale">
                    <div class=" memeLigne affichageTeam_image">
                        <img src="/web/uploads/{{ team.logo }}" alt="{{ team.surnom }} {{ team.name }}" class="logo">
                    </div>
                    <div class="memeLigne affichageTeam_team">
                        <div >
                            <h4 style="text-transform: uppercase;">
                                <b>Description équipe</b>
                            </h4>
                            <p>Localisation : <b>{{ team.location }}</b></p>
                            <p>position année précédente : <b>{{ team.positionanneePrec }}</b></p>
                            <p>Entraineur du club : <b>{{ team.entraineur }}</b></p>
                            <p>propriétaire du club : <b>{{ team.proprietaire }}</b></p>
                            <p>création du club : <b>{{ team.dateCreation }}</b></p>
                            <p>conférence : <b>{{ team.conference.libelleConference }} ( {{ team.conference.pointCardinal }} )</b></p>
                        </div>
                    </div>
                    <div class="memeLigne affichageTeam_stade">
                        <div class="">
                            <h4 style="text-transform: uppercase;">
                                <b>Stadium</b>
                            </h4>
                            <div>
                                <p>nom : <b>{{ team.stadium.name }}</b></p>
                                <p>adresse du stade : <b>{{ team.stadium.adress }}</b></p>
                                <p>nombre de place maximum : <b>{{ team.stadium.place }}</b></p>
                                <p>annee de création : <b>{{ team.stadium.annee }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="offset-3">
                        <h4 style="text-transform: uppercase;">
                            <b>{{ team.history.title }}</b>
                        </h4>
                        <div>
                            {% if faits %}
                                <div class="form-group">
                                    <div class="">
                                        {% for fait in faits %}
                                            <p>{{ fait.libelle }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="emplacementHome">
                                    <div class="alert alert-warning">Aucune histoire trouvé.</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="offset-3">
                        <h4 style="text-transform: uppercase;">
                            <b>Effectif</b>
                        </h4>
                        <div>
                            {% if effectif %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="centrerText"></th>
                                        <th scope="col" class="centrerText">nom prenom</th>
                                        <th scope="col" class="centrerText">bio</th>
                                        <th scope="col" class="centrerText">date</th>
                                        <th scope="col" class="centrerText">numero / poste</th>
                                        <th scope="col" class="centrerText">taille</th>
                                        <th scope="col" class="centrerText">Equipe</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for joueur in effectif %}
                                        <td scope="row" class="centrerText">
                                            <img data-src="holder.js/75x75" class="rounded-circle" alt="75x75" src="/web/{{ joueur.photo }}" data-holder-rendered="true" style="width: 75px; height: 75px;">
                                        </td>
                                        <td scope="row" class="centrerText">{{ joueur.name }} {{ joueur.lastname }} </td>
                                        <td class="centrerText">{{ joueur.bio }}</td>
                                        <td class="centrerText">kamoulox</td>
                                        <td class="centrerText">{{ joueur.numeroMaillot }} / {{ joueur.post.abrev }}</td>
                                        <td class="centrerText">{{ joueur.taille }} cm </td>
                                        <td class="centrerText">{{ joueur.team.name }} {{ joueur.team.surnom }} ( {{ joueur.team.conference.pointCardinal }} {{ joueur.team.conference.libelleConference }} )</td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="emplacementHome">
                                    <div class="alert alert-warning">Aucun effectif trouvé.</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="offset-3">
                        <h4 style="text-transform: uppercase;">
                            <b>HALL OF FAME</b>
                        </h4>
                        <div>
                            {% if hallOfFame %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="centrerText"></th>
                                        <th scope="col" class="centrerText">nom prenom</th>
                                        <th scope="col" class="centrerText">bio</th>
                                        <th scope="col" class="centrerText">date</th>
                                        <th scope="col" class="centrerText">numero / poste</th>
                                        <th scope="col" class="centrerText">taille</th>
                                        <th scope="col" class="centrerText">Equipe</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for joueur in hallOfFame %}
                                        <td scope="row" class="centrerText">
                                            <img data-src="holder.js/75x75" class="rounded-circle" alt="75x75" src="/web/{{ joueur.photo }}" data-holder-rendered="true" style="width: 75px; height: 75px;">
                                        </td>
                                        <td scope="row" class="centrerText">{{ joueur.name }} {{ joueur.lastname }} </td>
                                        <td class="centrerText">{{ joueur.bio }}</td>
                                        <td class="centrerText">kamoulox</td>
                                        <td class="centrerText">{{ joueur.numeroMaillot }} / {{ joueur.post.abrev }}</td>
                                        <td class="centrerText">{{ joueur.taille }} cm </td>
                                        <td class="centrerText">{{ joueur.team.name }} {{ joueur.team.surnom }} ( {{ joueur.team.conference.pointCardinal }} {{ joueur.team.conference.libelleConference }} )</td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="emplacementHome">
                                    <div class="alert alert-warning">Aucun effectif trouvé.</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div style="margin-top: 5%" class="jumbotron">
                <div class="col-sm-6 col-md-4">
                    <h2>{{ team.surnom }} {{ team.name }}</h2>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <div class="">
                            <img src="/web/uploads/{{ team.logo }}" alt="{{ team.surnom }} {{ team.name }}" class="logo">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Description Equipe</a></li>
                            <li><a data-toggle="tab" href="#menu1">Stade</a></li>
                            <li><a data-toggle="tab" href="#menu2">Conference</a></li>
                            <li><a data-toggle="tab" href="#menu3">Histoire</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <p>Localisation : <b>{{ team.location }}</b></p>
                                <p>position année précédente : <b>{{ team.positionanneePrec }}</b></p>
                                <p>propriétaire du club : <b>{{ team.proprietaire }}</b></p>
                                <p>création du club : <b>{{ team.dateCreation }}</b></p>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <p>conférence : <b>{{ team.conference.pointCardinal }}</b></p>
                                <p>nom complet conférence : <b>{{ team.conference.libelleConference }} ( {{ team.conference.pointCardinal }} )</b></p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <p>nom : <b>{{ team.stadium.name }}</b></p>
                                <p>adresse du stade : <b>{{ team.stadium.adress }}</b></p>
                                <p>nombre de place maximum : <b>{{ team.stadium.place }}</b></p>
                                <p>annee de création : <b>{{ team.stadium.annee }}</b></p>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <h3>{{ team.history.title }}</h3>
                                {% for i in 0..10 %}
                                    <p>Fait marquant <b>{{ i }}</b></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        {% else %}
            <div class="emplacementHome">
                <div class="alert alert-warning"><b>Aucune équipe trouvée</b>.</div>
            </div>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}