{% extends 'layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
{% endblock metadata %}


{% block content %}
    {% block body %}
        {% if team %}
            <div class="emplacementHome ecriture">
                <h3 class="sousMenu" style="text-transform: uppercase;">
                    <b>{{ team.surnom }} {{ team.name }}</b>
                </h3>
                <div class="logo">
                    <img src="/uploads/nbaIcone.jpg" alt="{{ team.surnom }} {{ team.name }}">
                </div>
                <div class="">
                    <p>Localisation : <b>{{ team.location }}</b></p>
                    <p>position année précédente : <b>{{ team.positionanneePrec }}</b></p>
                    <p>propriétaire du club : <b>{{ team.proprietaire }}</b></p>
                    <p>création du club : <b>{{ team.dateCreation }}</b></p>
                </div>
                <div>
                    <h4 style="text-transform: uppercase;">
                        <b>Stadium</b>
                    </h4>
                    <div>
                        <p>nom : <b>{{ team.stadium.name }}</b></p>
                        <p>adresse du stade : <b>{{ team.stadium.adress }}</b></p>
                        <p>nombre de place maximum : <b>{{ team.stadium.place }}</b></p>
                        <p>annee de création : <b>{{ team.stadium.annee }}</b></p>
                    </div>
                </div>
                <div>
                    <h4 style="text-transform: uppercase;">
                        <b>Conference</b>
                    </h4>
                    <div>
                        <p>conférence : <b>{{ team.conference.pointCardinal }}</b></p>
                        <p>nom complet conférence : <b>{{ team.conference.libelleConference }} ( {{ team.conference.pointCardinal }} )</b></p>
                    </div>
                </div>
                <div>
                    <h4 style="text-transform: uppercase;">
                        <b>{{ team.history.title }}</b>
                    </h4>
                    <div>
                        {% for i in 0..10 %}
                            <p>Fait marquant <b>{{ i }}</b></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="emplacementHome">
                <div class="alert alert-warning"><b>Aucune équipe trouvée</b>.</div>
            </div>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}