{% extends 'layout.html.twig' %}

{% block body %}
    <div class="well" style="background-color: #94ABB3;">
        <form class="form-signin form-horizontal" role="form" action="{{ path('addBDDLegende') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    nom: <input type="text" name="name" class="form-control" required autofocus>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    prénom : <input type="text" name="lastname" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    numero maillot: <input type="integer" name="numeroMaillot" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    bio :
                    <textarea type="text" name="bio"  class="form-control">
                        Enter text here...
                    </textarea>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    bio : <input type="text" name="dateNaissance"  class="form-control">
                </div>
            </div>

            <!-- formulaire Post -->
            {% if posts %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        Post :
                        <select class="form-control" name="postId" size="1" >
                            {% for post in posts %}
                                <option value={{ post.id }}>{{ post.libelle }}  {{ post.abrev }}  {{ post.position }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                Aucune équipe trouvée : <input type="text" name="sport" class="form-control">
            {% endif %}

            <!-- formulaire Stat -->
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    point / match: <input type="number" name="point" step="0.01" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    essai / match: <input type="number" name="essai" step="0.01" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    rebond / match: <input type="number" name="rebond" step="0.01" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    interception / match: <input type="number" name="interception" step="0.01" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    passe / match: <input type="number" name="passe" step="0.01" class="form-control">
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    contre / match: <input type="number" name="contre" step="0.01" class="form-control">
                </div>
            </div>

            <!-- formulaire History -->
            {% if histories %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        Post :
                        <select class="form-control" name="historyId" size="1" >
                            {% for history in histories %}
                                <option value={{ history.id }}>{{ post.title }}</option>
                                <input type=hidden name="history" value={{ history }}>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                Aucune histoire trouvée : <input type="text" name="histories" class="form-control">
            {% endif %}

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span>Ajouter</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}