{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'Admin/layoutAdmin.html.twig' %}
    <div class="parent">
        <div class="enfant">
            <h2>
                Ajout d'un Joueur
            </h2>
        </div>
    </div>
    <div class="well fondFormulaire">
        <form class="form-signin form-horizontal" role="form" action="{{ path('addJoueurBDD') }}" method="post" enctype="multipart/form-data">
            <div class="formulaire">
                <div class="formulaire_personne">
                    <div class="form-group">
                        <div class="">
                            nom: <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="">
                            prénom : <input type="text" name="lastname" class="form-control">
                        </div>
                        <div class="">
                            numero maillot: <input type="integer" name="numeroMaillot" class="form-control">
                        </div>
                        <div class="">
                            bio :
                            <textarea type="text" name="bio"  class="form-control"></textarea>
                        </div>
                        <div class="">
                            taille: <input type="number" name="taille" step="0.1" class="form-control">
                        </div>
                        <div class="">
                            date de naissance: <input type="date" name="dateNaissance" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                        </div>
                    </div>
                    <!-- formulaire Post -->
                    {% if posts %}
                        <div class="form-group">
                            <div class="">
                                Poste :
                                <select class="form-control" name="postId" size="1" >
                                    {% for post in posts %}
                                        <option value={{ post.id }}>{{ post.libelle }}  {{ post.abrev }}  {{ post.position }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        Aucune équipe trouvée : <input type="text" name="sport" class="form-control">
                    {% endif %}

                    <!-- formulaire History -->
                    {% if teams %}
                        <div class="form-group">
                            <div class="">
                                Equipe :
                                <select class="form-control" name="teamId" size="1" >
                                    {% for team in teams %}
                                        <option value={{ team.id }}>{{ team.surnom }} {{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        Aucune histoire trouvée : <input type="text" name="teams" class="form-control">
                    {% endif %}
                </div>
                <div class="formulaire_stats">
                    <!-- formulaire Stat -->
                    <div class="form-group">
                        <div class="">
                            point / match: <input type="number" name="point" step="0.01" class="form-control">
                        </div>
                        <div class="">
                            essai / match: <input type="number" name="essai" step="0.01" class="form-control">
                        </div>
                        <div class="">
                            rebond / match: <input type="number" name="rebond" step="0.01" class="form-control">
                        </div>
                        <div class="">
                            interception / match: <input type="number" name="interception" step="0.01" class="form-control">
                        </div>
                        <div class="">
                            passe / match: <input type="number" name="passe" step="0.01" class="form-control">
                        </div>
                        <div class="">
                            contre / match: <input type="number" name="contre" step="0.01" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="formulaire_submit">

                <button type="submit" class="btn btn-default btn-primary formulaire_submit"><span class="glyphicon"></span>Ajouter</button>

            </div>
        </form>
    </div>
{% endblock %}